<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG">
 <test name="testngTest">
 <classes>
 <class name="firsttestngpackage.FirstTestNGFile" />
 <class name="firsttestngpackage.P149AnnotationsBasic" />
 </classes>
 </test>
</suite>
